<div class="w-35 relative country-code-wrapper">
  <select
    [id]="id"
    [value]="value"
    [disabled]="disabled"
    (change)="onCountryCodeChange($event)"
    class="form-select country-code-select"
    [class.disabled]="disabled"
    [title]="getSelectedCountry()?.code + ' ' + getSelectedCountry()?.country">
    <option *ngFor="let country of countryCodes" [value]="country.code">
      {{ country.code }} {{ country.country }}
    </option>
  </select>
  <span class="country-code-overlay" [class.disabled]="disabled">{{ value }}</span>
</div>

    